* {
  margin: 0;
  padding: 0;
}

.bg-primary {
  background-color: #563d7c !important;
}
.text-primary {
  color: #563d7c !important;
}

a {
  color: #fff !important;
  text-decoration: none !important;
}
.pointer {cursor: pointer;}